<div class="modal-header">
    <h3> Creacion de un nuevo personaje </h3>
</div>
<div class="modal-body">
    <form (ngSubmit)="newPJ(newPJForm.value)" [formGroup]="newPJForm">
        <div class="form-row">
            
                <input type="hidden" formControlName="id">
            <div class="form-group col-md-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre del personaje" formControlName="nombre">
            </div>
                
            <div class="form-group col-md-6">
                <label for="url_img">Imagen</label>
                <input type="url" class="form-control" formControlName="url">
            </div>

            <div class="form-group col-md-6">
                <label for="descripcion">Descripcion:</label>
                <textarea  formControlName="descripcion"  class="form-control" > </textarea>
            </div>

            <div class="form-group col-md-6">
                <label for="cita">Cita:</label>
                <input type="text"  class="form-control" formControlName="cita">
                <label for="saga">Saga</label>
                <input type="text" class="form-control" formControlName="saga">
            </div>


            <div class="form-group col-md-12">
                <label for="nombre">Mov. Especiales</label>
                <br>
                <label for="arriba">Arriba</label>
                <input type="text" class="form-control" placeholder="Mov. Espacial hacia arriba" formControlName="arriba">
                <label for="abajo">Abajo</label>
                <input type="text" class="form-control" placeholder="Mov. Espacial hacia abajo" formControlName="abajo">

                <label for="izquierda">Lateral</label>
                <input type="text" class="form-control" placeholder="Mov. Espacial hacia lateral" formControlName="lateral">

                <label for="derecha">Normal</label>
                <input type="text" class="form-control" placeholder="Mov. Espacial hacia normal" formControlName="normal">

                <br>

                <label for="smash">Smash Final</label>
                <input type="text" class="form-control" placeholder="Smash final" formControlName="smash">
            </div>

            

            <div class="form-group col-md-6">
                    <button type="button" class="btn btn-danger " (click)="bsModalRef.hide()">Cancelar</button>
                    <input type="submit"  class="btn btn-primary" [disabled]="!newPJForm.valid" value="Agregar">
            </div>
            
        </div>
    </form>

    
</div>
