body{
    background:#343A40;
    overflow: hidden;
}

.ng-sidebar {
    background: #343A40;
    width: 13rem;
}

.ng-sidebar--right {
    color: white !important;
    background: #343A40;
    width: 40%;
}
